.notifications-container {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin-top: 20px;
}

.notifications-container h2 {
  font-size: 20px;
}

.notifications-container ul {
  list-style-type: none;
  padding-left: 0;
}

.notifications-container li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.notifications-container li:last-child {
  border-bottom: none;
}
